*.pyc
__pycache__
/.idea
graphics/plots
library/componentes/graphics/

*.aux
*.bcf
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.gz
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.xml
*.docx
*.dvi
*.out.ps
